/* ===== HERO SECTION ===== */
.mock-video {
  position: relative;
  width: 100%;
  /* min-height: 0vh; */

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Spacing */
  padding: 80px 6vw;        /* top-bottom | left-right */
  box-sizing: border-box;

  /* Behavior */
  overflow: hidden;
}


/* ===== VIDEO CONTAINER ===== */
.mock-video-contranier {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  background:
    linear-gradient(to right,
      rgba(15, 23, 42, 0.9) 20%,
      rgba(15, 23, 42, 0.9) 40%,
      rgba(15, 23, 42, 0.742) 60%,
      rgba(15, 23, 42, 0.6) 90%);
  background-size: cover;
  background-position: center;
  padding: 60px;
  box-sizing: border-box;
}

/* ===== BACKGROUND VIDEO ===== */
.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

@media (max-width: 768px) {
  .bg-video {
    display: none;
  }

  .mock-hero {
    background: url("/images/hero-fallback.jpg") center / cover no-repeat;
  }
}
