.contact-container {
  padding: 80px 20px;
  color: #e2e8f0;
  text-align: center;
}

.contact-inner {
  max-width: 950px;
  margin: auto;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 25px;
}

.contact-text {
  line-height: 1.7;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.contact-email {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.contact-email svg {
  color: #3b82f6;
}

.contact-email h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.email-link {
  color: #3b82f6;
  font-size: 1.1rem;
}
